<div class="page-content">
  <mat-video [autoplay]="true" [download]="true"
             src="{{videoResourceUrl(videoDetails.id)}}"></mat-video>
  <h2>{{videoDetails.title}}</h2>

  <div>
    <strong>{{videoDetails.channelIdentity.name}}</strong>
    <span class="margin-left-right-30">{{getFormattedDate(videoDetails.createdDate)}}</span>

    <button mat-button disabled id="videoViewCount">
      <mat-icon>visibility</mat-icon>
      <span>{{videoDetails.viewCount}}</span>
    </button>
    <button mat-button [disabled]="isOwner(videoDetails.authorId)" [class.rating-active]="videoDetails.currentUserVideoRating.isUpVote"
            (click)="upVoteVideo()">
      <mat-icon>thumb_up</mat-icon>
      <span>{{videoDetails.upVoteCount}}</span>
    </button>
    <button mat-button [disabled]="isOwner(videoDetails.authorId)" [class.rating-active]="videoDetails.currentUserVideoRating.isDownVote"
            (click)="downVoteVideo()">
      <mat-icon>thumb_down</mat-icon>
      <span>{{videoDetails.downVoteCount}}</span>
    </button>
  </div>

  <p>{{videoDetails.description}}</p>

  <h3 class="margin-top-30">Comments:</h3>
  <div id="comment_form_0">
    <img class="avatar margin-right-10" [src]="avatarSrc" />
    <mat-form-field>
      <textarea matInput required placeholder="Comment" id="comment_input_0"></textarea>
    </mat-form-field>
    <button mat-button (click)="saveComment(null)">
      <span>Comment</span>
    </button>
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <div>
        <button mat-button disabled></button>
        <p> <img class="avatar margin-right-10" [src]="node.avatarSrc" /> {{node.channelIdentity.name}} {{node.dateCreated}} {{node.wasEdited ? '(edited)' : ''}}</p>
        <p [class.italic]="node.isDeleted">{{node.isDeleted ? 'Deleted' : node.message}}</p>

        <div>
          <button mat-button [disabled]="isOwner(node.authorId)" [class.rating-active]="node.currentUserCommentRating.isUpVote"
                  (click)="upVoteComment(node)">
            <mat-icon>thumb_up</mat-icon>
            <span>{{node.upVoteCount}}</span>
          </button>
          <button mat-button [disabled]="isOwner(node.authorId)" [class.rating-active]="node.currentUserCommentRating.isDownVote"
                  (click)="downVoteComment(node)">
            <mat-icon>thumb_down</mat-icon>
            <span>{{node.downVoteCount}}</span>
          </button>
          <button mat-button [class.rating-active]="node.currentUserCommentRating.isFavourite"
                  (click)="favouriteComment(node)">
            <mat-icon>favorite</mat-icon>
            <span>{{node.favouriteCount}}</span>
          </button>
          <button mat-icon-button *ngIf="node.isVideoAuthorFavourite && !isVideoAuthor" disabled [class.rating-active]="node.isVideoAuthorFavourite">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-icon-button *ngIf="isFirstLevelComment(node) && (isVideoAuthor || node.isPinned)" [disabled]="!isVideoAuthor" [class.rating-active]="node.isPinned"
                  (click)="pinComment(node)">
            <mat-icon>grade</mat-icon>
          </button>
        </div>

        <div>
          <button mat-button (click)="setReplyActive(node)">
            <span>Reply</span>
          </button>
          <button mat-button *ngIf="isOwner(node.authorId) && !node.isDeleted" (click)="setEditActive(node)">
            <span>Edit</span>
          </button>
          <button mat-button *ngIf="isOwner(node.authorId) && !node.isDeleted" (click)="deleteComment(node)">
            <span>Delete</span>
          </button>
        </div>
        <div *ngIf="node.isReplyActive && !node.isEditActive">
          <img class="avatar margin-right-10" [src]="avatarSrc" />
          <mat-form-field>
            <textarea matInput required placeholder="Comment" id="comment_input_{{node.id}}"></textarea>
          </mat-form-field>
          <button mat-button (click)="saveComment(node)">
            <span>Comment</span>
          </button>
          <button mat-button (click)="cancelReplyAndEdit(node)">
            <span>Cancel</span>
          </button>
        </div>
        <div *ngIf="!node.isReplyActive && node.isEditActive">
          <mat-form-field>
            <textarea matInput required placeholder="Comment" id="comment_input_{{node.id}}"></textarea>
          </mat-form-field>
          <button mat-button (click)="updateComment(node)">
            <span>Save</span>
          </button>
          <button mat-button (click)="cancelReplyAndEdit(node)">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <div>
        <p> <img class="avatar margin-right-10" [src]="node.avatarSrc" /> {{node.channelIdentity.name}} {{node.dateCreated}} {{node.wasEdited ? '(edited)' : ''}}</p>
        <p [class.italic]="node.isDeleted">{{node.isDeleted ? 'Deleted' : node.message}}</p>

        <div>
          <button mat-button [disabled]="isOwner(node.authorId)" [class.rating-active]="node.currentUserCommentRating.isUpVote"
                  (click)="upVoteComment(node)">
            <mat-icon>thumb_up</mat-icon>
            <span>{{node.upVoteCount}}</span>
          </button>
          <button mat-button [disabled]="isOwner(node.authorId)" [class.rating-active]="node.currentUserCommentRating.isDownVote"
                  (click)="downVoteComment(node)">
            <mat-icon>thumb_down</mat-icon>
            <span>{{node.downVoteCount}}</span>
          </button>
          <button mat-button [class.rating-active]="node.currentUserCommentRating.isFavourite"
                  (click)="favouriteComment(node)">
            <mat-icon>favorite</mat-icon>
            <span>{{node.favouriteCount}}</span>
          </button>
          <button mat-icon-button *ngIf="node.isVideoAuthorFavourite && !isVideoAuthor" disabled [class.rating-active]="node.isVideoAuthorFavourite">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-icon-button *ngIf="isVideoAuthor || node.isPinned" [disabled]="!isVideoAuthor" [class.rating-active]="node.isPinned"
                  (click)="pinComment(node)">
            <mat-icon>grade</mat-icon>
          </button>
        </div>

        <div>
          <button mat-button (click)="setReplyActive(node)">
            <span>Reply</span>
          </button>
          <button mat-button *ngIf="isOwner(node.authorId) && !node.isDeleted" (click)="setEditActive(node)">
            <span>Edit</span>
          </button>
          <button mat-button *ngIf="isOwner(node.authorId) && !node.isDeleted" (click)="deleteComment(node)">
            <span>Delete</span>
          </button>
          <button mat-button matTreeNodeToggle>
            <span>{{treeControl.isExpanded(node) ? 'Hide' : ('Show more (' + node.allRepliesCount + ')')}}</span>
          </button>
        </div>

        <div *ngIf="node.isReplyActive && !node.isEditActive">
          <img class="avatar margin-right-10" [src]="avatarSrc" />
          <mat-form-field>
            <textarea matInput required placeholder="Comment" id="comment_input_{{node.id}}"></textarea>
          </mat-form-field>
          <button mat-button (click)="saveComment(node)">
            <span>Comment</span>
          </button>
          <button mat-button (click)="cancelReplyAndEdit(node)">
            <span>Cancel</span>
          </button>
        </div>
        <div *ngIf="!node.isReplyActive && node.isEditActive">
          <mat-form-field>
            <textarea matInput required placeholder="Comment" id="comment_input_{{node.id}}"></textarea>
          </mat-form-field>
          <button mat-button (click)="updateComment(node)">
            <span>Save</span>
          </button>
          <button mat-button (click)="cancelReplyAndEdit(node)">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
