<div class="page-content">
  <form ngForm="form">
    <h1>Upload video</h1>

    <div>
      <mat-form-field>
        <input matInput required type="text" placeholder="Title" [(ngModel)]="videoUpdate.title" name="title">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field  class="margin-top-30">
        <textarea matInput required placeholder="Description" [(ngModel)]="videoUpdate.description" name="description"></textarea>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-select required [(ngModel)]="videoUpdate.visibility" name="visibility">
        <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
          {{getVideoVisibilityLabel(visibility)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-button (click)="videoInput.click()" (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)">
        Browse files
      </button>
      {{!!file ? file.name : ''}}

      <input required type="file" class="hidden-input margin-top-30" #videoInput
             (change)="selectFile($event)" (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)"
             placeholder="Upload video" accept=".mp4,.webm">
    </div>

    <button mat-button class="margin-top-30" (click)="uploadFile()">
      <span>Upload</span>
    </button>
  </form>
</div>
