<div class="page-content">
  <form ngForm="form">
    <div *ngIf="!isEditMode">
      <div>
        <h3>{{channelAbout.name}}</h3>
        <p>{{channelAbout.subscriptionCount}} subscribers</p>
        <p>Joined {{getFormattedDate(channelAbout.createdDate)}}</p>
      </div>

      <button mat-raised-button color="primary" *ngIf="!channelAbout.isAuthor">Subscribe</button>

      <button mat-raised-button color="warn" *ngIf="channelAbout.isAuthor" (click)="startEditMode()">Edit</button>

      <mat-tab-group (selectedTabChange)="loadTabData($event)">
        <mat-tab label="About">
          <div>
            <p>{{channelAbout.description}}</p>
          </div>
        </mat-tab>
        <mat-tab label="Videos">
          <div *ngFor="let video of videos" routerLink="{{'/videos/' + video.id}}" class="margin-top-30 cursor-pointer">
            <h4>{{video.title}}</h4>
            <p>{{video.channelIdentity.name}} {{getFormattedDate(video.createdDate)}}</p>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>

    <div *ngIf="isEditMode">
      <div>
        <mat-form-field>
          <input matInput required type="text" placeholder="Channel name" [(ngModel)]="channelUpdate.name" name="name">
        </mat-form-field>
        <p>{{channelAbout.subscriptionCount}} subscribers</p>
        <p>Joined {{getFormattedDate(channelAbout.createdDate)}}</p>
      </div>

      <div>
        <mat-form-field  class="margin-top-30">
          <textarea matInput placeholder="Description" [(ngModel)]="channelUpdate.description" name="description"></textarea>
        </mat-form-field>
      </div>

      <button mat-button (click)="updateChannel()">
        <span>Save</span>
      </button>

      <button mat-button (click)="cancelEditMode()">
        <span>Cancel</span>
      </button>

      <div>
        <img class="avatar margin-right-10" [src]="avatarSrc" />

        <input type="file" class="margin-top-30"
               (change)="selectFile($event)" (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)"
               placeholder="Avatar" accept=".jpg,.png">
      </div>

      <button mat-button class="margin-top-30" (click)="updateAvatar()">
        <span>Update avatar</span>
      </button>

    </div>
  </form>
</div>
