<mat-toolbar color="primary" fxLayout="">
  <span routerLink="" class="cursor-pointer">Streaming platform</span>
  <div fxFlex></div>
  <mat-icon>person</mat-icon>
  <span>{{username}}</span>
  <button mat-button (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav fxLayout="column">
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<footer fxLayout="column">
  Copyright © 2020 MMMS
</footer>
