<mat-toolbar color="primary" fxLayout="">
  <mat-icon class="cursor-pointer" (click)="sidenav.toggle()">menu</mat-icon>
  <span routerLink="" class="cursor-pointer">Streaming platform</span>
  <div fxFlex></div>
  <button mat-icon-button routerLink="videos/upload">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <img *ngIf="!!avatarSrc" class="avatar cursor-pointer margin-right-10" [src]="avatarSrc" [routerLink]="'/channels/' + channelIdentity.name" />
  <span class="cursor-pointer" [routerLink]="'/channels/' + channelIdentity.name">{{channelIdentity.name}}</span>
  <button mat-button (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>

<mat-sidenav-container id="mat-sidenav-container">
  <mat-sidenav mode="side" #sidenav id="sidenav">
    <mat-list>
      <mat-list-item [routerLink]="'/channels/' + channelIdentity.name" class="nav-item">My channel</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer fxLayout="column">
  Copyright © 2020 MMMS
</footer>
