<div class="page-content">
  <form ngForm="form">
    <h1>Create channel</h1>

    <div>
      <mat-form-field>
        <input matInput required type="text" placeholder="Title" [(ngModel)]="channelUpdate.name" name="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field  class="margin-top-30">
        <textarea matInput placeholder="Description" [(ngModel)]="channelUpdate.description" name="description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <img class="avatar cursor-pointer margin-right-10" [src]="avatarSrc" (click)="avatarInput.click()"
           (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)"/>

      <input #avatarInput type="file" class="hidden-input margin-top-30"
             (change)="selectFile($event)" (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)"
             placeholder="Avatar" accept=".jpg,.png">
    </div>

    <button mat-button class="margin-top-30" (click)="createChannel()">
      <span>Create</span>
    </button>
  </form>
</div>
